.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: black;
  color: aliceblue;
}

.calc{
  background-color: aliceblue;
  width: 400px;
  border-radius: 16px;
}

.row{
  display: flex;
}

.btn{
  height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: orange;
    color: aliceblue;
    flex: 1;
    width: 98%;
    margin: 4px;
    border-radius: 25px;
}